#------------------------------------
    # Project
#------------------------------------

# Project custom ignores





#------------------------------------
    # Tools
#------------------------------------

.env
configLocal.json
localStorage/*
!localStorage/dbBackups
localStorage/dbBackups/*
bower_components/
node_modules/
out/
.bundle
.idea/
.komodotools
.project
.settings/
.tern-project
.tmproj
*.esproj
*.komodoproject
*.sublime-*
browserstack.js
codekit-config.json
mixture.json
prepros.json





#------------------------------------
    # System
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db
Homestead.yaml
vendor/*
*.vagrant





#------------------------------------
    # Gitkeep
#------------------------------------

!.gitkeep
